[submodule "backend"]
	path = backend
	url = https://github.com/Hygor/e-coletas.api
[submodule "frontend"]
	path = frontend
	url = https://github.com/Hygor/e-coletas.web
[submodule "mobile"]
	path = mobile
	url = https://github.com/Hygor/e-coletas.mobile
